h2 {
    margin-top: 10px!important
}

.tz-btn {
    margin-right: 20px;
}

.et { 
    background-color: yellow!important;
}

.ct { 
    background-color: green!important;
}

.mt { 
    background-color: dodgerblue!important;
}

.pt { 
    background-color: red!important;
}

.akt { 
    background-color: purple!important;
}

.ht { 
    background-color: orange!important;
}

.time-display {
    margin-top: 50px;
}

.message {
    margin-top: 15px;
}

.map-img {
    margin: 10px auto;
}